.root {
    -fx-border-width: .1em;
    -fx-border-color: #6A6A6A;
}

.nav-box {
    -fx-padding: .8em;
    -fx-pref-width: 16em;
    -fx-min-width: 16em;
    -fx-max-width: 16em;
    -fx-spacing: 1em;
}

.nav-box .list-item {
    -fx-alignment: center;
}

.nav-box .list-view .label {
    -fx-font-size: 1.5em;
}

.nav-box .list-view .list-cell:selected .label {
    -fx-text-fill: #FF806B;
}

.nav-box, .nav-box .list-view, .list-view .list-cell {
    -fx-background-color: #292929;
}

.content-box {
    -fx-background-color: #121212;
}

.content-box * {
    -fx-text-fill: #c4c4c4;
}

.nav-box * {
    -fx-text-fill: #fff;
}

.win_control {
    -fx-border-width: 0 0 .1em 0;
    -fx-border-color: #292929;
}

.win_control .button {
    -fx-padding: .2em;
}

.win_control .button, .win_control .menu-button {
    -fx-background-color: transparent;
}

.win_control .button:hover, .win_control .menu-button:hover {
    -fx-background-color: #292929;
    -fx-pref-height: 1em;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.status-box{
    -fx-spacing: .4em;
    -fx-alignment: CENTER-LEFT;
}
