.root{
    -fx-border-width: .1em;
    -fx-border-color: #6A6A6A;
}
.nav-box, .nav-box .tree-view, .nav-box .tree-view .tree-cell {
    -fx-background-color: #292929;
}

.content-box{
    -fx-background-color: #121212;
}

.nav-box * {
    -fx-text-fill: #fff;
}

.win_control{
    -fx-border-width: 0 0 .1em 0;
    -fx-border-color: #292929;
}
.win_control .button{
    -fx-padding: .2em;
}
.win_control .button,.win_control .menu-button{
    -fx-background-color: transparent;
}

.win_control .button:hover,.win_control .menu-button:hover{
    -fx-background-color: #292929;
    -fx-pref-height: 1em;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}
