.box {
    -fx-background-color: #1f1f1f;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: .5em;
    -fx-spacing: .5em;
    -fx-border-radius: .1em;
    -fx-background-radius: .1em;
}

.box * {
    -fx-text-fill: #fff;
}


.box .button{
    -fx-background-color: transparent;
}

.box HBox {
    -fx-alignment: CENTER-LEFT;
    -fx-spacing: .5em;
}