.top-box {
    -fx-background-color: #121212;
    -fx-pref-height: 1em;
}

.top-box .left-box {
    -fx-padding: 0 0 0 .1em;
    -fx-spacing: .5em;
}

.top-box .label {
    -fx-text-fill: #fff;
}

.top-box .button {
    -fx-padding: .7em;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.top-box .right-box .button:hover {
    -fx-background-color: #292929;
}

.b-box {
    -fx-background-color: #fff;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.content-box {
    -fx-background-color: #000000;
}